[2016-06-03 16:44] fneu opened #3 "cEP1: Everybody should at all times be able to fork the project"
This can be interpreted as "the community MAY NOT abandon the project and create a fork UNLESS the bld acts stupidly or is uncovered a fraud"

Even though (or especially because) I don't expect this statement to be meant that way this should probably be changed...

and also "stupidishly" should probably be "stupidly"

[2016-06-03 17:24] sils commented on #3
@fneu do you want this merged first? If so we would have to redo the vote.

[2016-06-03 17:39] fneu commented on #3
Well, do we have to redo the vote if we merge it after? How many people
need to agree?

Personally I don't care so I voted already.

Am 3. Juni 2016 7:24:14 nachm. schrieb Lasse Schuirmann
notifications@github.com:

[2016-06-03 17:41] sils commented on #3
since then cEP-1 is active we can just do a B vote, two people agreeing
would be fine

[2016-06-03 17:44] fneu commented on #3
fine with me

[2016-06-03 21:09] #3 closed, assigned to nobody

[2016-06-12 09:07] sims1253 opened #8 "Gitter channel organization"
I feel as the main channel is to crowded as a landing channel.
Maybe try to set up channels from the ground up again and remove the "grown" ones.

[2016-06-12 09:09] sims1253 opened #9 "Teams"
Make cEP for the teams introduced here:
https://github.com/coala-analyzer/coala/wiki/Governing-coala

[2016-06-12 09:12] sils commented on #8
IIUC you have a prototype somewhere? Can you self assign and/or make it available? Or finalize it :P

[2016-06-12 09:13] sils commented on #8
ah wrong issue... the other!

[2016-06-12 09:13] sils commented on #9
IIUC you have a prototype somewhere? Can you self assign and/or make it available? Or finalize it :PIIUC you have a prototype somewhere? Can you self assign and/or make it available? Or finalize it :P

[2016-06-25 22:33] sims1253 opened #10 "cEP-0017: Bears Package Manager"
sooo you want a conda cep i think :D
@sils1297

[2016-06-29 09:44] AbdealiLoKo opened #11 "Config file spec"
It would be good to have a cEP defining the specification of the config files we use.

[2016-06-29 09:48] AbdealiLoKo commented on #11
Apparently python has a very very similar PEP which compares some of the really popular ones. We probably would like to read through it. https://www.python.org/dev/peps/pep-0518/

In a nutshell it says:
- JSON: Not human writable easily. No comments allowed
- YAML: Scripts can be run inside a yaml file, implying it has security issues.YAMl specification is just too complicated.
- configparser (ini

[2016-06-29 10:26] sils commented on #11
agreed

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 29 June 2016 at 11:48, AbdealiJK notifications@github.com wrote:

[2016-06-29 15:28] Makman2 commented on #11
For YAML: I believe pyYAML has some kind of safe-mode to prevent these execution problems, though this also limits functionality (but for our case we don't need to care, as we don't need that)

[2016-06-29 15:29] Makman2 commented on #11
but yes I agree too :D

[2016-09-01 19:34] sils commented on #10
CC @Adrianzatreanu

[2016-09-01 19:35] sils opened #15 "cEP for coafiles on coala repos"
from @underyx

[2016-09-01 19:51] underyx opened #16 "I want to be allowed to write cEP-8 instead of cEP-0008 :("

[2016-09-01 20:05] Makman2 commented on #16
does it really matter that hard? :P

[2016-09-01 20:34] sils commented on #16
yes!

[2016-09-01 22:06] sils opened #17 "coala packages"
I think we should:
- rename coala to coala-core
- make a coala package that bundles cib and coala and coala-quickstart etc.

[2016-09-01 22:06] sils commented on #17
CC @AbdealiJK @underyx

[2016-09-02 07:49] Adrianzatreanu commented on #10
im a little confused regarding this issue. could you elaborate?

too little info given.

[2016-09-02 08:05] sils commented on #10
this issue was created so we would have a cEP describing cib, the cEPs could also act as user documentation which is why this is still open

[2016-10-17 15:05] coala-bot opened #20 "Improve coala Configuration"
See discussion. Mockup:

[code]

Opened via [gitter](https://gitter.im/coala/coala/?at=5804e8ae8d2babbd087e2d33) by @sils

[2016-10-27 14:12] sils commented on #16
why should we not allow it

[2016-10-27 14:13] sils commented on #11
we have decided on a new format in cEP-0005. There was some discussion and I'm not sure if all the arguments are in there.

[2016-10-27 14:14] sils commented on #9
cEP merged

[2016-10-27 14:14] #9 closed, assigned to nobody

[2016-10-27 14:14] sils commented on #20
cEP created and merged, implementation has started.

[2016-10-27 14:14] #20 closed, assigned to nobody

[2016-10-27 14:16] sils opened #23 "Make a cEP on memberization and dememberization"
IMO:
- making members as we do know (jsut write it down)
- dememberize any member that hasn't done a contribution within the last three months. This should be evaluated for all members every three months.A "Contribution" is rather loosely defined on purpose. There should be a committee taking care of this and deciding what counts and what doesn't. If members disagree they can of course make a B (o

[2016-10-27 14:18] sils commented on #23
- the member may argue against a dememberization and it's within the freedom of the commitee to accept that if the argument makes sense

[2016-10-27 18:19] Makman2 commented on #16
Honestly I don't care :P

[2016-10-30 10:45] coala-bot opened #25 "cEP 5 open Space"
Opened via [gitter](https://gitter.im/coala/coala/?at=5815cf508ed1c0ff5c43c455) by @sims1253

[2016-10-30 11:17] sims1253 commented on #25
- Make language and file extention default or make coala find it so no need for it in the .coafile
- Derive language from the section name
- Use swagger for aspect documentation
- If no aspect is checked (use exlusive way) there should be a warning

[2016-11-04 15:59] sils commented on #25
@sims1253 what's swagger?

[2016-11-04 16:50] sims1253 commented on #25
Uhm I think Stefan (the external who'll join ploen) said that.

[2016-11-07 22:32] coala-bot opened #27 "sublinting parts of files as other languages"
Opened via [gitter](https://gitter.im/coala/coala/?at=582100fc31c5cbef43ca9e5b) by @sils

[2016-11-07 22:35] underyx commented on #27
Such as recognizing string literals with `SELECT` in them as SQL to be able to do SQL linting on them.

[2016-11-11 14:25] jayvdb opened #30 "deprecation policy and framework"
The policy, and the technical framework which supports it, need to be documented and accepted, before 1.0.

They are closely linked and should really be a unified cEP, as the policy imposes requirements on the implementation.

The most critical task is defining where we are now, at 0.8/9.  Are we currently trying to provide a dependable API, or is it still in flux until 1.0?

However, the most imp

[2016-11-12 12:32] coala-bot opened #32 "Generate styleguide from aspects"
CC @plaindocs , was his idea

We can add a paragraph to every leaf of aspects with placholders for e.g. the settings and then we can generate a full written guide on how to write beautiful code from all selected aspects!

Opened via [gitter](https://gitter.im/coala/coala/?at=58270bdde097df7575a03098) by @sils

[2016-11-12 23:00] Adrianzatreanu commented on #10
scary issue

[2016-11-13 00:33] jayvdb commented on #10
Using conda allows solving
the Python 2 vs 3 bears problem.

[2016-11-14 18:13] jayvdb commented on #30
@sils, the policy aspect of this, wrt 0.9->1.0, needs some direction from you.  I can formalise it, if you can steer me as to how drastically we can break:
1.  The API
2.  The result of bears.

I get the feeling that the API is all mostly private at the moment, except a few entry points.  Can we identify which entry points clients are using, then the rest is fair game.

IMO clients _expect_ the al

[2016-11-14 20:04] sils commented on #30
I'd probably do at least a 0.10 before doing a 1.0, because we're a 0.
tecnically we can break whatevr we want although we should try to keep
backwards compatability as good as possible.

[2016-11-17 04:23] jayvdb commented on #30
Can we add a golden rule that coala-utils must be 100 percent backwards compatible, even in 0.x, except major releases, and with a proper deprecation announcement policy?
That will make it a more reliable package for other people to adopt and contribute to.
It will also give us a test bed for building proper deprecators, and validation of deprecation. If so, I can move much of `pywikibot.tools` in

[2016-11-17 08:58] sils commented on #30
we can make coala-utils 1.0, then we have to obey to that. Sure.

[2016-11-18 23:19] sils commented on #32
the paragraph should probably be generated by a function:

[code]

[2016-11-19 00:41] #32 closed, assigned to nobody

[2016-11-21 20:02] coala-bot opened #38 "show required dependencies for bears"
coala will use aspects instead of bear names in the future, but some bears have extern dependencies.
E.g. a user want to use a brackets linter for CSS but doesn't how what extern dependencies are needed

Opened via [gitter](https://gitter.im/coala/coala/?at=583352d5b07a1fd34824699a) by @sils

[2016-11-22 10:29] coala-bot opened #39 "Evaluate pipfile for dep management"
Opened via [gitter](https://gitter.im/coala/coala/?at=58341e202db9526704676b37) by @sils

[2016-11-29 18:19] adtac opened #40 "Add clause to allow multiple team leaders in a team"

[2016-11-29 18:19] adtac commented on #40
CC @sims1253

[2016-11-29 18:22] adtac commented on #40
@Udayan12167 and I would like to be team leaders for the core team. So we'd basically have a mutual understanding between ourselves. Also, we're both applying for the core team, which I think is big enough to accomodate two leaders (this would also help split the workload). It also helps when one of us isn't available.

As to how we'd work it out, I suggest we have a democratic process with our te

[2016-11-29 19:51] Makman2 commented on #40
Not sure, I think this kind of defeats the purpose of a team leader^^ Better create two teams if necessary^^

[2016-11-29 23:31] sims1253 opened #42 "cEP-0002: Rename Members to Maintainer"
Member is not well defined I feel. We vote to invite people to the maintainer channel and member could just be a member of the github org eg.

[2016-11-29 23:35] sims1253 opened #43 "cEP-0003: Define if the election of team leaders is secret or public"
Any concerns with a public vote? If we use a google formular the answers can be seen.

[2016-12-02 10:21] #43 closed, assigned to nobody

[2016-12-03 21:20] sims1253 opened #46 "cEP-0003: Discussion results"
- [ ]  report mechanism eg. every few months an activity report is published

[2016-12-10 20:57] coala-bot opened #47 "Make a cEP about API doc guidelines"
Maybe we can even have a bear and enforce a bit of API docs incrementally?

Opened via [gitter](https://gitter.im/coala/coala/?at=584c6c1dbe9d43bc63442483) by @sils

[2016-12-15 19:09] sims1253 opened #50 "Get some form of merge restriction"
Would be nice to make it impossible to merge cEPs with only one ack

[2016-12-15 19:25] sims1253 opened #51 "Manual versioning is hard"

[2016-12-15 21:32] Mariatta commented on #23
+1

[2016-12-15 23:08] sims1253 commented on #23
will draft a cEP around christmas, first iteration before new year

But I think we could add this to the member cEP which is cEP-0001 i think and it doesn't need its own

[2016-12-15 23:28] sims1253 commented on #23
idea:
take away control of mail account but keep a fw after someone is dememberized

[2016-12-15 23:31] sils commented on #23
IMO let im have his account, there's no cost to it. In case of conflict,
talk to each other.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 16 December 2016 at 00:28, sims1253 <notifications@github.com> wrote:

[2016-12-23 23:11] sims1253 opened #52 "cEP-0003: Remove ability to "create" teams without a team leader application"
This is useless as without a leader the team does not exist :D

[2016-12-28 00:51] Mariatta opened #53 "Use gender-neutral pronoun in cEPs"
Instead of referring to user or team leader as **he**, use **they** :smiley:
https://en.wikipedia.org/wiki/Singular_they

Example:
cEP 5:
 ... allowing the user to specify what aspects of **his** code should be analyzed

cEP 3:
**His** job is not to do the ...
A Team Member agrees to focus **his** work ...

[2016-12-28 15:15] sims1253 opened #55 "cEP-0003: Allow developers to become team members"

[2016-12-28 15:16] sims1253 commented on #23
This also should include the developer "rank"

[2016-12-28 15:17] sils commented on #50
there's services FWIW and on long term we could of course let gitmate require two acks

[2016-12-28 18:17] #53 closed, assigned to Mariatta

[2016-12-30 18:07] sims1253 opened #56 "cEP-0003: Add case for new team besides main elections"
Maybe give time for others to apply before voting

[2016-12-30 18:10] sims1253 opened #57 "cEP-0001: Allow cEP-1"
the zeros are useless and python does it as well

[2017-01-04 06:33] Mariatta commented on #57
actually in Python, they don't use the dash
eg PEP 8 instead of PEP-8
:)

So if that's we're aiming for, we should allow `cEP 1`

[2017-01-04 06:34] Mariatta commented on #16
Is this same as https://github.com/coala/cEPs/issues/57 ?

[2017-01-04 08:02] underyx commented on #16
Yep

On Wed, Jan 4, 2017, 7:34 AM Mariatta <notifications@github.com> wrote:

[2017-01-04 08:15] sils commented on #57
duplicate of #16

[2017-01-04 08:15] #57 closed, assigned to nobody

[2017-01-04 08:17] sils commented on #16
Goal here is to modify cEP-0000 to make this possible.

[2017-01-06 17:38] Mariatta opened #58 "cEP 6: coala Code of Conduct"
Create coala community code of conduct

- [x] create community@coala.io email (done. Thanks @sils)
- [ ] create coala.io/conduct that redirects to the code of conduct cEP

I have the content in https://github.com/coala/coala/wiki/Code-of-Conduct but will create a formal cEP for this.

[2017-01-08 16:50] Mixih opened #60 "cEP 0007 - Release process and frequency"
A formal definition of our release procedures, frequency, and tools

[2017-01-09 00:49] #58 closed, assigned to Mariatta

[2017-01-10 21:46] Mariatta opened #61 "cEP metadata should include date field"
Useful dates:
Date it was first authored,
Effective date,
Last update

Thoughts?

[2017-01-28 08:52] arnab1896 commented on #16
If we modify cEP-0000; then do we also have to change ALL occurrences of cEP-#### in the entire repository? Starting from cEP-0000 to cEP-0006 and change all of them to cEP-0 to cEP-6?

[2017-01-28 08:54] aptrishu commented on #16
Or maybe allow both format ?

[2017-01-28 10:15] sils commented on #16
Allow both IMO

On Jan 28, 2017 09:54, "Rishav Kumar" <notifications@github.com> wrote:

[2017-02-01 03:14] coala-bot opened #64 "Update coala-analyzer to coala"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=589152871e4d4bd962bba235) by @jayvdb

[2017-02-02 14:45] Vamshi99 commented on #64
@jayvdb There are no URL's with coala-analyzer in this repository.

[2017-02-16 15:53] #16 closed, assigned to arnab1896

[2017-02-25 19:59] arnab1896 opened #65 "Short-URL for cEPs need to be created"
right now the only shortURL that works
is this one ---> coala.io/cep5

all the othere; i.e. coala.io/cep#

where # is 0 to 4 or 6 are re-directed to cEP-0000
difficulty/low

[2017-02-27 05:49] shreyans800755 commented on #65
I would like to work on this issue. But I don't know which project/file takes care of generating shortURL. Can anyone help me ?

[2017-03-01 13:06] meetmangukiya commented on #65
@shreyans800755 not an issue that you can fix ;)

[2017-03-01 16:15] vaishnavm217 commented on #65
can i work on this? doesn't this require editing backend file?

[2017-03-17 04:01] #64 closed, assigned to hollamad

[2017-03-18 15:08] jack17529 commented on #61
@Mariatta sorry can you be more accurate as github already shows the dates something is modified in a repository, so that you can know it is updated.

[2017-03-18 15:13] jack17529 commented on #61
@jayvdb  should we wright dates in cEP's for backup ?

[2017-03-18 15:24] jack17529 commented on #61
According to me metadata includes:

Means of creation of the data
Purpose of the data
Time and date of creation
Creator or author of the data
Location on a computer network where the data was created
Standards used
File size

[2017-03-20 18:41] Mariatta commented on #61
Hi, the existing cEP metadata as outlined in [cEP 0](https://github.com/coala/cEPs/blob/master/cEP-0000.md#metadata):

- A cEP number.
- A Version number.
- A Title.
- The name(s) and e-mail address(es) of the Authors.
- A Status
- A Type

I'm proposing adding a date field to the list of metadata above.

While it's true we can do git blame to figure out the full history of the cEP, some dates are

[2017-03-28 19:17] userzimmermann opened #69 "cEP-0005: aspect and aspects should always be lowercase terms"
Just like *coala* itself, the terms *aspect* and *aspects* are just too fundamental to be ever written capitalized :)

Also all new API elements in `coalib` containing the term *aspect* are stricly lowercase. So always keeping it lowercase would give a much more consistent feeling and make the future of coala even brighter :)

This requires an additional rule in cEP-0005 and some changes to existi

[2017-03-29 18:00] sils commented on #69
sure go for it ;)

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 28 March 2017 at 21:17, Stefan Zimmermann <notifications@github.com>
wrote:

[2017-03-31 22:27] userzimmermann commented on #69
Started with correcting https://github.com/coala/teams/issues/11 and https://github.com/orgs/coala/projects/2 :)

[2017-04-08 22:24] Mariatta opened #70 "Add instruction of how to report CoC violation"

[2017-04-11 12:28] jayvdb commented on #69
It is bad enough that we have this rule for coala; but as that is not a real word, grammar rules about it are invalid anyway.

However people use the word aspects all the time, especially in programming, without any intention that it refers to this part of coala.

There are lots of other important sub-units within coala.  If named according to pep 8, they would all be lower class in the source cod

[2017-04-11 13:52] userzimmermann commented on #69
@jayvdb You got the intention correctly. It's just like the lowercase *coala* and only intended for in-house use. Or better: only to be applied to coala's only repositories and documentation :)

[2017-04-11 14:07] jayvdb commented on #69
So we are not allow to use the word aspects except to talk about aspects and then we must write it the way you want?

[2017-04-11 15:10] userzimmermann commented on #69
@jayvdb The whole thing is only about coala's new **aspects** framework and the spelling rules shall only apply when related to that framework. And the @coala/aspects-developers and @sils are fine with it. As you correctly pointed out in https://github.com/coala/cEPs/issues/69#issuecomment-293244845 , an aspect is a general term used for many things. It's not our intention to extend our little dog

[2017-04-11 15:43] sils commented on #69
FWIW I'm not for this I'm fine with you having your fun as long as there is no negative impact on the rest of the community. This seems to be controversial and thus @userzimmermann it might be good to just not do it: use aspects in your spelling in your docs but leave the cEP and don't make a builtin bear? @userzimmermann please wait until we have a decision on this ok?

[2017-04-11 15:43] sils commented on #69
FWIW I'm not for this I'm fine with you having your fun as long as there is no negative impact on the rest of the community. This seems to be controversial and thus @userzimmermann it might be good to just not do it: use aspects in your spelling in your docs but leave the cEP and don't make a builtin bear? @userzimmermann please wait until we have a decision on this ok?

[2017-04-11 16:23] userzimmermann commented on #69
@sils @jayvdb It's more about motivation than fun. Or let's say motivation through fun. It's about team bonding and identity that arises from such ideas and that kind of uniqueness. It's an important reason for the small aspects team working so well and efficiently together. We should not destroy that

I also can't really see that negative impact on the community or any real controversy. But you a

[2017-04-25 20:57] arjunsinghy96 opened #73 "Add cEP index in README.md"
It would be great if we have a cEP index in the readme with headings **|** brief description of cEPs.

[2017-05-10 15:57] meetmangukiya opened #75 "cEP 13: corobo"

[2017-05-10 16:06] Nosferatul opened #76 "cEP-0012 -> coala's Command Line Interface"

[2017-05-29 12:31] meetmangukiya commented on #75
I thought I was doing cEP-9 @satwikkansal :P

[2017-05-29 12:32] meetmangukiya commented on #75
(Chaning to cEP-13 :( )

[2017-05-29 16:52] #75 closed, assigned to meetmangukiya

[2017-05-30 04:36] satwikkansal commented on #75
Oops sorry, I didn't see your PR at that moment :p

On May 29, 2017 6:01 PM, "Meet Mangukiya" <notifications@github.com> wrote:

[2017-05-30 10:13] #23 closed, assigned to sims1253

[2017-05-30 13:50] #76 closed, assigned to Nosferatul

[2017-08-19 20:10] stellargo opened #87 "Hyperlinks are not distinctly visible"

[2017-08-19 20:12] #87 closed, assigned to nobody

[2017-10-20 14:33] Makman2 commented on #65
Migrated to https://github.com/coala/devops/issues/85

[2017-10-20 14:33] #65 closed, assigned to soumya-ranjan7

[2017-10-27 16:41] co-robo opened #88 "Add ISSUE_TEMPLATE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f361a84ff065ac188365d5)

[2017-10-27 17:12] co-robo opened #89 "Add PULL_REQUEST_TEMPLATE.md"
Add a file named `PULL_REQUEST_TEMPLATE.md` which includes general information and guidelines for the author of Pull Request, you can see PULL_REQUEST_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f368eab20c6424295684fb)

[2017-10-28 19:47] palash25 opened #90 "cEP-0010.md: fix spelling error in the heading"
In the heading titled **The aspests** there is a spelling error change it to **The aspects**.
I think this will be a good newcomer or gci issue.

[2017-12-05 17:21] RaiVaibhav opened #92 "cEP-0006.md, sync the link accordingly to the `Markdown` format."
In LIne `84` please correct the format of `Markdown` link.

difficulty/newcomer

[2017-12-05 18:08] khanchi97 opened #93 "cEP-0010.md: Fix a typo"
In line 195 replace `max_identifier_length` with `min_identifier_length`

Difficulty/newcomer

[2017-12-10 20:26] Makman2 commented on #93
@khanchi97 Actually I'm not sure if this issue is valid, why do you want to remove those?

[2017-12-10 20:26] Makman2 commented on #93
(except the typo, that's definitely a mistake)

[2017-12-10 20:28] Makman2 commented on #93
Also it sounds like the issue can be split up into smaller issues ("remove text **and** fix typo")

[2017-12-11 02:56] khanchi97 commented on #93
@Makman2 text that has to be removed is repeated two times.

[2017-12-11 06:16] ishanSrt commented on #93
@khanchi97 actually the text isn't repeated. look closely:

[2017-12-11 09:14] khanchi97 commented on #93
Oh, seems like I misunderstood the text.I have changed the title of issue.

[2017-12-13 20:06] #93 closed, assigned to ishanSrt

[2017-12-23 04:30] jayvdb commented on #61
Adding dates inside files which are version controlled is a bit odd, and the date will usually be 'wrong' as merges occur after authoring.  Which is effective?

Maybe we could add dates to the README.md after https://github.com/coala/cEPs/issues/73 has created an index of cEPs?

[2017-12-23 04:35] jayvdb commented on #51
@sims1253 , could you explain what you mean?

[2017-12-23 08:06] sims1253 commented on #51
It's hard to decide if a change in a cEP is "API breaking" and needs a major version or if it Is enough to increase the minor version.

[2017-12-28 01:52] Makman2 commented on #51
I think it's up to the writer / modifier to apply a reasonable versioning^^ It's nearly impossible to define such rules for general documents like cEPs.

[2017-12-28 12:26] #73 closed, assigned to nobody

[2017-12-28 23:06] iiu-iiu commented on #92
hey. i'm new and would like to fix this.

[2018-01-06 17:28] ishanSrt opened #98 "cEP-0002.md Correct sentence"
`No longer will the local bears be dependent on global bears to finish`, `local` and `global` are interchanged

[2018-01-07 13:26] kaustumbh7 commented on #98
Hello! I would like to work on this issue. Can you please assign it to me?

[2018-01-11 05:13] ishanSrt opened #100 "cEP-0006.md Fix a typo"
The correct spelling for `doxing` is `doxxing`

[2018-01-12 15:26] AliabbasMerchant commented on #100
Please assign this to me!
corobo is stating that:
"Command "assign" / "assign coala/cEPs#100" not found."

[2018-01-12 15:35] ishanSrt commented on #100
@AliabbasMerchant read the welcome message by corobo. It says to skip the instructions about corobo. 😜 Request this on gitter !

[2018-01-12 15:39] AliabbasMerchant commented on #100
Oh. ok thanks!

[2018-01-12 15:39] ishanSrt commented on #100
that way you will get assigned much faster

[2018-01-21 18:12] #98 closed, assigned to kaustumbh7

[2018-01-21 18:54] duskybomb commented on #100
@Makman2 since there has been no activity assign this to me.

[2018-01-21 21:35] Makman2 commented on #100
You already have a newcomer-issue assigned @duskybomb

[2018-01-23 13:11] AliabbasMerchant commented on #100
@duskybomb @Makman2 , I have already fixed the typo and submitted a PR:
https://github.com/coala/cEPs/pull/101

[2018-02-17 05:24] ishanSrt opened #102 "cEP-0005.md typo"
Subsection: Problem
Paragraph: 2
Last sentence
analyses-->analysis

[2018-02-17 13:42] Makman2 commented on #102
When changing the cEP, don't forget to update version numbers and dates accordingly.

[2018-03-10 03:17] #102 closed, assigned to li-boxuan

[2018-03-27 07:32] nikhilzac95 commented on #100
Seems like no1 is working on it from the past 9 days. Please assign it to me if that's ok with the others.

[2018-03-27 09:51] sangamcse commented on #100
@ishanSrt, I think both spellings are correct. Google it once.

[2018-03-27 09:58] nikhilzac95 commented on #100
looks like both the spelling are correct. However, doxxing is more commonly used, as is **doxxed** and **doxxer**

[2018-03-27 10:00] ishanSrt commented on #100
<img width="689" alt="screen shot 2018-03-27 at 3 29 03 pm" src="https://user-images.githubusercontent.com/29859362/37960654-c87c2006-31d3-11e8-849a-6581b44977e8.png">

[2018-03-27 14:31] #100 closed, assigned to nobody

[2018-03-28 12:09] xferra opened #109 "cEP-0001: Fix link to newcomer guide"
The part of cEP (click the link):

Actual:  GitHub 404 Page (behaves as relative link)
Expected: coala newcomer guide

[2018-04-08 12:45] #92 closed, assigned to nobody

[2018-04-11 23:52] #109 closed, assigned to xferra

[2018-05-02 20:31] nvzard opened #110 "cEP-0015: corobo enhancement(security, configurability and tests)"

[2018-05-03 09:06] nvzard opened #111 "coala is written with a lowercase 'c'"
Many cEP titles have mentioned 'Coala' instead of 'coala'

https://github.com/coala/cEPs/blob/master/README.md

[2018-05-03 11:50] kriti21 opened #112 "cEP-0016: Describe coala process rules that will be enforced by GitCommitBear"

[2018-05-03 13:37] JameerBabu commented on #111
Hello,

I am new to coala. I want to contribute to it. So, as a newbie I would like to fix this to boost my confidence. Can you please assign this issue to me.

[2018-05-04 00:46] jayvdb commented on #111
@JameerBabu , I've sent you an invite to this GitHub org.  Please accept.

[2018-05-04 12:11] JameerBabu commented on #111
Hi John,

I have accepted the invitation and joined successfully in the group. Now, can you please assign this issue to me.

[2018-05-04 14:57] refeed opened #115 "README.md: Typo, 'mechnaism' should be 'mechanism'"
Typo in `README.md`, 'mechnaism' should be 'mechanism' in line 15

[2018-05-04 19:51] devesh-verma commented on #115
@jayvdb can I work in this? 😃

[2018-05-05 14:37] saksham189 opened #116 "cEP-0017: cib Tool Design"
Propose cEP for design of the cib tool

[2018-05-05 17:50] virresh opened #118 "cEP-0018: Design of ANTLR interface for coala"
Describe the interfacing of ANTLR library with coala core

[2018-05-05 23:46] refeed opened #120 "Inconsistent cEP metadata number format"
In cEP-0000 and cEP-0001, the cEP number in the metadata table uses "XXXX" (e.g 0001) format. However, in cEP-0002 the number in the metadata table uses "X" (e.g 2). and cEP-0003 uses the XXXX format, and so on

This isn't consistent. Is there any rules regarding to cEP number formatting? if no, I think we need to choose one between those two format to stop this inconsistencies.

[2018-05-05 23:52] refeed commented on #120
cc @jayvdb @sils @sims1253 @Makman2

[2018-05-06 00:03] jayvdb commented on #120
cEP-0 says the metadata includes the number.  I think the metadata should be just the number, without leading zeros.

[2018-05-06 04:04] #111 closed, assigned to JameerBabu

[2018-05-06 04:10] li-boxuan opened #121 "cEP-0019: Meta-review System"
Describe how meta-reviews could be tracked and handled

[2018-05-06 04:16] jayvdb opened #122 "Create CODEOWNERS file"
https://help.github.com/articles/about-codeowners/

Lets start by letting all developers be approvers.

[2018-05-06 16:29] jayvdb opened #125 "Add markdown syntax linting to .md filees"
Needs addition to .coafile in this repo, and update the .md files to pass the rules.

[2018-05-06 16:33] jayvdb commented on #125
Note that MarkdownBear often gives us trouble, so this may not be as easy as it sounds.

[2018-05-07 03:50] jayvdb commented on #116
Duplicate of https://github.com/coala/cEPs/issues/10

[2018-05-07 03:50] #116 closed, assigned to nobody

[2018-05-07 03:55] jayvdb commented on #61
So lets add dates to the pre-2018 cEPs, and see what happens during the PR.  That should help us formulate which dates should be used.

[2018-05-07 04:16] jayvdb commented on #39
Pipfile is unsuitable for cross-language dependency management, so it does not rise to the level of a cEP or a project.

We should definitely support it, and this is covered by https://github.com/coala/coala/issues/3677 and https://gitlab.com/coala/mobans/issues/13

[2018-05-07 04:16] #39 closed, assigned to nobody

[2018-05-07 04:23] jayvdb commented on #50
This can now be done using GitHub branch protection, which can require multiple approvers.

Also we can restrict who can approve, which requires a [CODEOWNERS file]( help.github.com/articles/about-codeowners)

Lets start by letting all developers be approvers, and requiring two approvers.

Then we still have gitmate ack's which can only be done by a maintainer prior to merge.  So that is a third a

[2018-05-07 04:23] jayvdb commented on #122
Dup of https://github.com/coala/cEPs/issues/50

[2018-05-07 04:23] #122 closed, assigned to nobody

[2018-05-07 04:36] jayvdb commented on #10
One existing tool which might provide similar functionality is https://github.com/mbodenhamer/depman .  It should be considered as part of this cEP.

c.f. https://gitlab.com/coala/package_manager/issues/149

[2018-05-07 04:47] jayvdb commented on #39
fwiw, https://github.com/mbodenhamer/depman is a more likely alternative, and has been raised on https://github.com/coala/cEPs/issues/10#issuecomment-386955214

[2018-05-07 07:47] jayvdb commented on #115
@devshiva619 , no , you have already done a newcomer issue.  Please choose a http://coala.io/low difficulty issue to work on.

[2018-05-07 07:52] jayvdb commented on #11
https://github.com/coala/cEPs/blob/master/cEP-0005.md

The aspects gsoc projects last year also discussed enhancing the format at https://github.com/coala/coala/issues/4511, but that went nowhere.

Also https://github.com/coala/coala/issues/4609 was created, but I am closing that now as it should be handled here as a cEP modification.

[2018-05-07 07:58] jayvdb commented on #88
The most important information needed for an issue in this repo is either:

- the cEP the issue relates to, or
- is the issue requesting a new cEP.

[2018-05-07 08:01] jayvdb commented on #51
@sims1253 , what should this issue achieve?

[2018-05-07 08:04] jayvdb commented on #15
We can use moban to centralise these files.  https://github.com/coala/meta/issues/117

However, a cEP outlining that would be very helpful.

Possibly some overlap with https://github.com/coala/cEPs/issues/112

[2018-05-08 06:17] Yagya-Chaudhary commented on #115
Is it fine now?

[2018-05-08 08:05] Yagya-Chaudhary commented on #115
Done .

[2018-05-08 08:11] #115 closed, assigned to nobody

[2018-05-08 15:57] #90 closed, assigned to nobody

[2018-05-09 03:26] jayvdb opened #129 "cEP 0: Replace markdown for cEPs"
markdown is a crazy language. rST is slightly better, and that aligns better with being a Python org.

However, we should be a multilingual org, so it is useful to force ourselves to switch languages, testing different bears in the process.

For one, asciidoc has better table support.
http://www.methods.co.nz/asciidoc/newtables.html

[2018-05-09 08:35] #125 closed, assigned to nobody

[2018-05-09 13:08] jayvdb commented on #129
A nice feature of rst is that we have a bear which should be able to check the syntax of python inside code blocks.
c.f. https://github.com/coala/cEPs/pull/124#discussion_r187032788

[2018-05-09 13:15] jayvdb opened #130 "2017 GSoC cEPs are still marked Proposed"
Proposed:

* https://github.com/coala/cEPs/blob/master/cEP-0012.md - CLI
* https://github.com/coala/cEPs/blob/master/cEP-0013.md - corobo
* https://github.com/coala/cEPs/blob/master/cEP-0014.md - coala-quickstart

Implementation Due:

* https://github.com/coala/cEPs/blob/master/cEP-0010.md - aspects

Active:

* https://github.com/coala/cEPs/blob/master/cEP-0009.md - coala-quickstart (info extracti

[2018-05-09 14:41] satwikkansal commented on #130
cEP 14 and 9 are both implemented. I'll submit a PR.

[2018-05-09 17:35] jayvdb commented on #17
Should this be an amendment to the release procedure cEP?

Or a general naming cEP?

[2018-05-09 20:30] sks444 opened #133 "cEP-0020: Newcomer metrics and Gamification system"
Describe how a newcomer at coala will become a developer with the use of Gamification.

Also, describe which metrics are important to track, how they will be tracked and how to implement the gamification system?

[2018-05-10 01:49] jayvdb opened #134 ".coafile Set line length"
https://github.com/coala/cEPs/pull/131 's https://github.com/coala/cEPs/pull/131/commits/86160dc8bf21f4e5b3c7f6f69ab3a7e82104cf20 passes gitmate, but has length > 80

MarkdownBear has a max line length setting.
If it doesnt work, use LineLengthBear.

[2018-05-10 06:15] sks444 opened #135 "Add .gitignore"
Add `.gitignore` file with ignoring `orig` files.

[2018-05-10 11:45] ishanSrt opened #136 "cEP 22: Quickstart Green Mode"

[2018-05-10 11:50] jayvdb commented on #136
@ishanSrt , I see 19 is already allocated. your number is probably 22..?

[2018-05-10 11:51] ishanSrt commented on #136
then 22 it is 🚀

[2018-05-10 12:03] yukiisbored opened #138 "cEP-0023: Separation of metadata of bears"
Most Python code we've written for bears are simple metadata that instructs coala on what to run, how to read the output, what to pass to the command, etc.

We can reduce the overall work, difficulty when writing, and size of coala Bears if it was in it's simplified form containing only necessary complication without the mess of having to copy paste boilerplate code.

Bears that require special ne

[2018-05-10 12:05] yukiisbored commented on #138
I'd like to point out, I'm using TOML for the bear metadata language. It may be a good choice for writing bears.

https://github.com/toml-lang/toml

[2018-05-10 12:30] blazeu commented on #134
[MarkdownBear](https://github.com/coala/coala-bears/blob/master/bears/markdown/MarkdownBear.py#L68) has `max_line_length` set to `None` as default, but I did get error when having length > 80.

Hmm, is it possible that I'm using old version of MarkdownBear when making https://github.com/coala/cEPs/pull/128 ?
That explains this issue about inconsistency https://github.com/coala/cEPs/pull/128#issuec

[2018-05-10 15:37] Vamshi99 opened #141 "cEP-0024: GitMate Plugins"

[2018-05-11 04:07] ankitxjoshi opened #143 "cEP-0025.md: Integrate pyflakes AST"

[2018-05-11 04:54] li-boxuan commented on #120
@jayvdb Why does this issue have `process/pending review` label? Shouldn't that only be used in pull requests?

[2018-05-14 02:00] #50 closed, assigned to nobody

[2018-05-14 05:08] #121 closed, assigned to nobody

[2018-05-16 23:39] ishanSrt opened #151 "add cEP-0019.md to README.md"
@li-boxuan

[2018-05-17 20:12] #151 closed, assigned to nobody

[2018-05-18 06:53] ankitxjoshi commented on #134
Assign it to me.

[2018-05-18 14:10] RaiVaibhav opened #154 "cEP-0021: Profile Bears"
Proposed implementation of `Profiling Interface`.

[2018-05-18 21:40] ksdme opened #156 "cEP-0028: Optimizing coala for language server"

[2018-05-20 11:51] #143 closed, assigned to nobody

[2018-05-23 06:32] #134 closed, assigned to nobody

[2018-05-24 05:45] ankitxjoshi opened #158 "cEP-0028: Update Readme.md"

[2018-05-28 12:03] #133 closed, assigned to nobody

[2018-06-01 09:15] nvzard opened #161 "README.md: Add cEP-0015.md"

[2018-06-02 06:57] #136 closed, assigned to ishanSrt

[2018-06-03 01:33] ishanSrt opened #163 "Add green mode cEP to README.md"

[2018-06-03 12:41] sks444 opened #165 "README.md: Add newcomer gamification cEP"

[2018-06-06 01:27] jayvdb commented on #129
Another pretty bad case. https://github.com/coala/cEPs/pull/124#discussion_r193268153

[2018-06-06 04:20] #154 closed, assigned to nobody

[2018-06-06 16:26] #118 closed, assigned to nobody

[2018-06-10 08:52] #158 closed, assigned to nobody

[2018-06-12 10:43] #10 closed, assigned to nobody

[2018-06-14 17:21] RaiVaibhav commented on #135
`*.orig`

[2018-06-15 16:44] #163 closed, assigned to nobody

[2018-06-16 05:49] #165 closed, assigned to nobody

[2018-06-20 00:53] jayvdb opened #169 "AST project clarification"
Can the ANTLR ast be used to do fixes?

The cEP isnt clear on this.

The pyflakes cEP also isnt clear ... this should be in the intro .. but it does have an example

https://github.com/coala/cEPs/blob/master/cEP-0025.md#demonstrating-use-of-pyflakesastbear-by-creating-a-simple-bear

[2018-06-20 07:06] ankitxjoshi commented on #169
Would create a patch to include this in intro.

[2018-06-21 00:42] jayvdb commented on #135
Use moban's gitignore template.
See other repositories, and the many open PRs. about it

[2018-06-21 11:29] dkopatz commented on #135
@jayvdb does that mean that i can take the .gitignore file from for example coala/coala?

[2018-07-21 20:06] prankshaw commented on #89
Can I be assigned to it

[2018-07-28 20:34] #112 closed, assigned to nobody

[2018-07-29 09:05] CyberDrudge commented on #88
@jayvdb can i work on this?

[2018-07-30 22:39] #141 closed, assigned to nobody

[2018-07-30 23:17] #169 closed, assigned to nobody

[2018-08-01 03:01] #110 closed, assigned to nobody

[2018-08-02 18:53] hrithik-jha commented on #135
If it's still unattended, I can try this out.

[2018-08-05 20:59] Utkarsh1308 commented on #135
Can I be assigned to this please

[2018-08-06 01:02] jayvdb commented on #135
This issue must create a .moban.yaml file which uses moban to fetch the coala default .gitignore file.

@Utkarsh1308, you can not work on this until your first patch is merged.

[2018-08-06 15:30] Utkarsh1308 commented on #135
Can I be assigned to this issue now?

[2018-08-06 15:33] jayvdb commented on #135
sure.

but you dont need a custom template.  you can use `coala-gitignore.jj2`

[2018-08-06 18:57] #135 closed, assigned to Utkarsh1308

[2018-08-13 03:27] #156 closed, assigned to nobody

[2018-08-18 10:34] jayvdb commented on #88
@CyberDrudge , please do not keep creating PRs.

Spend you time reading https://coala.io/newcomer first , and our other guides

[2018-11-24 15:41] bharatpurohit97 commented on #61
need some info, i guess date it was first authored should be add in date column in README.md, correct me if not.

[2018-12-07 17:35] li-boxuan commented on #61
`creation date` kind of makes sense to me, because the UI on https://github.com/coala/cEPs only shows the last update time, and it would be useful if creation date is displayed so that people have a rough idea how long the cEP has been there.

[2019-02-15 07:07] KVGarg commented on #46
@sims1253 Should a report be first manually written by a developer and then that user will upload it or some kind of python automation should take place that will generate a report and store it in the database.
I would like to add this feature in [community website](http://community.coala.io/) as a part of [project proposal](https://github.com/coala/projects/issues/691).

[2019-02-28 18:46] KVGarg commented on #46
@sims1253 @jayvdb Need some extra-information on what is to be achieved ?

[2019-03-20 02:37] xurror commented on #138
Please i would like to work on this issue
Can i have hints on how to approach the problem

[2019-04-05 09:57] ksdme opened #178 "cEP-0028 Update Readme.md"

[2019-05-10 15:54] PrajwalM2212 opened #179 "cEP-0029: Support TOML as a configuration format"

[2019-05-11 07:52] akshatkarani opened #181 "cEP-0030: Next Generation Action System"

[2019-05-16 06:26] bkhanale opened #183 "cEP-0031: Improve Generic Bear Quality"

[2019-05-18 08:33] KVGarg opened #185 "cEP-0032: Enhance Websites Architecture"

[2019-05-20 10:36] Naveenaidu opened #187 "cEP-0033: Handle Nested Programming Languages"

[2019-08-24 08:39] Utkarsh1308 opened #189 "cEP-0034: Improve Diff Handling"

[2021-05-21 16:39] anshalshukla opened #191 "cEP-0035: Extending support for newer versions of Python"
This cEP describes the upgrades and steps required to enable coala to support newer versions of Python. This project has been taken up as a [GSoC](https://summerofcode.withgoogle.com/organizations/6490386047959040/#4634486723051520) project.

[2021-05-30 20:50] pra17dod opened #194 "WEP-0001: Django Microfarm"
This WEP describes the approaches and implementation of the Django Microfarm
GSoC 2021 project. The aim of this project is to create a tool that allows anyone to
 become a market gardener, given some space. The link to the project is [here
](https://projects.coala.io/#/projects?project=django-microfarm&lang=en)

[2021-06-06 04:52] #179 closed, assigned to nobody

[2021-06-06 06:04] #181 closed, assigned to nobody

[2021-06-06 06:29] #183 closed, assigned to nobody

[2021-06-06 06:43] #185 closed, assigned to nobody

[2021-06-06 06:53] #187 closed, assigned to nobody

[2021-06-06 07:04] #189 closed, assigned to nobody

[2021-06-11 16:27] #191 closed, assigned to nobody